flask
flask-cors

opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests

honeycomb-opentelemetry==0.2.1b0
aws-xray-sdk

watchtower

blinker
rollbar

Flask-AWSCognito

psycopg[binary]
psycopg[pool]